@model BookAuthorModel

@{
	var exists = Model != null && Model.Id != 0;
	ViewBag.Title = (exists ? "Редактирование" : "Создание") + " BookAuthor";
}
<script type="text/javascript">
    function SetIdAuthor() {
        $("#IdAuthor").val($('#drpIdAuthorList option:selected').val())
    }
    function SetIdBook() {
        $("#IdBook").val($('#drpIdBookList option:selected').val())
    }
</script>
<form asp-action="Update" asp-antiforgery="true" method="post">

    <div class="mt-3" class="form-group">
        <label class="control-label">Автор</label>
        <input required type="hidden" asp-for="IdAuthor" value="hidden" value="" />
        <select required id="drpIdAuthorList" asp-for="IdAuthor" name="drpIdAuthorList" class="form-control" asp-items="@ViewBag.IdAuthor" onchange="SetIdAuthor()">
            <option value=''>--выбрать группу--</option>
        </select>
    </div>

    <div class="mt-3" class="form-group">
        <label class="control-label">Книга</label>
        <input required type="hidden" asp-for="IdBook" value="hidden" value="" />
        <select required id="drpIdBookList" asp-for="IdBook" name="drpIdBookList" class="form-control" asp-items="@ViewBag.IdBook" onchange="SetIdBook()">
            <option value=''>--выбрать группу--</option>
        </select>
    </div>
	<div class="row">
		<div class="col-md-12 text-center">
			<button class="btn btn-outline-primary" type="submit">@(exists ? "Сохранить" : "Добавить")</button>
			<a asp-action="Index" class="btn btn-outline-secondary">Отмена</a>
		</div>
	</div>
</form>
<script>
    $(document).ready(function () {
        $("#IdAuthor").val($('#drpIdAuthorList option:selected').val())
        alert($("#IdAuthor").val($('#drpIdAuthorList option:selected').val()))
        $("#IdBook").val($('#drpIdBookList option:selected').val())
    });
</script>